body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1f242d;
  /* background-color: #323c50; */
  /* animation: flashAnimation 1s ease; */
  /* background-color: #333; */
}

h1 {
  display: block;
}

button {
  cursor: pointer;
}

#asteroids-container {
  /* background-color: #333; */
  /* background-color: #1f242d; */
  /* background-color: #323946; */
  padding: 10px;
  text-align: center;
  /* display: flex; */
  color: #fff;
  /* justify-content: center; */
}

#score-zone {
  /* width: 400px; */
  /* text-align: left; */
  /* margin: auto 20px; */
  margin: 10px auto;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* text-align: left; */
}

#scores > p {
  margin: 8px 0;
}

#scores {
  text-align: left;
  width: 33.3%;
}

#gif-container {
  width: 33.3%;
  /* text-align: center; */
  overflow: hidden;
}

#level-up-gif {
  width: 90%;
  margin-bottom: -80px;
  transition: margin 400ms;
}

#ghost-container {
  width: 33.3%;
}


#asteroids-canvas {
  /* display: none; */
}

#settings {
  display: none;
  width: 600px;
  /* text-align: left; */
  margin: 0 auto;
}

.color-test {
  background-color: red !important;
}

.settings-input-group {
  width: 26%;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  font-size: 18px;
}


#pause-btn, #resume-btn {
  display: none;
}

#level-up-text {

}

@keyframes flashAnimation {
  0%, 100% { background-color: #1f242d; }
  50% { background-color: #323c50; }
}


/* helper */
.text-center {
  text-align: center;
}

/* .slide-up {
  display: block;
  bottom: 0;
} */

/* .slide-up {
  animation: slideUp 0.5s forwards;
}

.slide-down {
  animation: slideDown 0.5s forwards;
}

@keyframes slideUp {
  0% { bottom: -100%; opacity: 0; }
  50% { bottom: 0; opacity: 1; }
  100% { bottom: 0; opacity: 1; }
}

@keyframes slideDown {
  0% { bottom: 0; opacity: 1; }
  50% { bottom: 0; opacity: 1; }
  100% { bottom: -100%; opacity: 0; }
} */

